$primary: #699174;
$white: #fff;
$background: #EFEFEF;
$light: #E0E0E0;
$medium: #666666;
$dark: #1D1D1D;

.c-primary{
    color: $primary;
}

.c-white{
    color: $white;
}

.c-background{
    color: $background;
}

.c-light{
    color: $light;
}

.c-medium{
    color: $medium;
}

.c-dark{
    color: $dark;
}